<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
      <add key="SourceFolder" value="D:\My project\Bot\logtest\log" />
      <add key="ZipPath" value="D:\My project\Bot\logtest\log\zipcom" />
      <add key="DaysThreshold" value="10" />
      <!-- เช็คไฟล์ที่เก่ากว่า 60 วัน -->
    </appSettings>
  </configuration>  